<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/changeMyPassword.css">
    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="myAccount.html">My Account</a>
        <div>
            <a href="/about">How it works</a>
            <a href="#My Orders">My Orders</a>
            <a href="#Get instant Quotes">Get instant Quotes</a>
        </div>
    </div>
    <div class="leftmenu">
        <a href="/myAccount">My account</a>
        <a href="/editMyAccount">Edit my account</a>
        <a class="active" href="/changeMyPassword">Change my password</a>
    </div>
    <div class="rightmenu">
        <h3>Change my password</h3>
        <div id="line-separator"></div>
        <form action="/action_page.php">
            <label for="current_pw">Enter current password</label>:</label>
            <input type="text" id="current_pw" name="current_pw"><br><br>
            <label for="new_pw">Enter new password</label>:</label>
            <input type="text" id="new_pw" name="new_pw"><br><br>
            <label for="confirm_pw">Confirm password</label>:</label>
            <input type="text" id="new_pw" name="new_pw"><br><br>
            <input type="submit" value="Update password">
        </form>
    </div>
</body>